extends ../layout/main_layout

block head
  - var title = 'Публікації'
  - var bodyClass = ''
block content
  +header('header--def-container header--logo-position')
  +bred()
  section.article
    .container
      .row
        .col-lg-2
          h1.article__title
            span Назва публікації статьї
        .col-lg-10
          .article__body
            p Lorem ipsum dolor sit amet <a href="#">consectetur adipisicing </a>elit. Adipisci, dolor ipsa repudiandae quod expedita eos dolore quidem quisquam at enim inventore quia quaerat quis tempore illo! Quisquam quis voluptatum mollitia possimus vel aperiam provident debitis enim illum porro distinctio fugit obcaecati repudiandae ipsam dolorem maxime eius, vero architecto natus laborum?
            ul
              li Lorem, ipsum dolor.
              li Lorem ipsum dolor sit.
              li Lorem ipsum dolor sit amet.
            ol
              li Lorem, ipsum dolor.
              li Lorem ipsum dolor sit.
              li Lorem ipsum dolor sit amet.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores itaque porro aspernatur tempora molestiae maxime quos vitae nulla enim veritatis.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, voluptate sapiente exercitationem perspiciatis ipsa iusto sequi tempora id rerum dicta molestias maiores aspernatur inventore impedit modi odit vitae sit assumenda temporibus fugiat animi, cupiditate veritatis nam. Excepturi odio, nulla dolores dicta tempore quam eum eveniet alias natus quas soluta, explicabo deserunt nisi voluptatum saepe. Porro soluta assumenda, quas, atque nihil laudantium consectetur ratione odio sequi recusandae repudiandae debitis ut explicabo. Cum soluta ex dolore amet placeat repellat impedit facere expedita.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, fugit error ex nisi est necessitatibus.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores et sint aliquam iusto dolorum dicta nostrum magni nobis temporibus! Nulla facere fuga iure ex, odio debitis libero eligendi neque amet suscipit obcaecati voluptas laboriosam fugit doloribus, enim atque. Eos et est voluptatum quod a esse modi autem nesciunt omnis quam magnam, natus ex vitae libero ratione dolorum maiores praesentium consequatur! Vel illo, reiciendis similique unde dolores natus consequuntur ad cum sequi doloribus necessitatibus, eos veritatis totam dignissimos recusandae pariatur quaerat earum vero, aliquam temporibus id odio rerum illum? Aliquid a perspiciatis quam! Dicta aut quisquam eaque, ratione minima culpa esse aliquam praesentium laudantium molestiae enim ab inventore sit quas doloribus laboriosam! Veritatis quos voluptas rem, rerum aspernatur aperiam laborum voluptate velit modi perspiciatis, pariatur ipsum! Nisi id tenetur debitis, omnis, culpa unde, fuga cumque soluta animi vitae expedita. Commodi tenetur perferendis id, magni nam porro nulla accusantium debitis omnis quasi a error placeat, tempore quidem fuga expedita asperiores eos blanditiis repudiandae deserunt eligendi doloribus repellendus ipsum! Delectus ut dolore beatae alias unde velit quas quaerat eius dolorem et in, doloribus facilis id! Officiis ex rerum facere, quia, impedit molestias laboriosam, totam facilis odio enim nobis quam eius illo quibusdam tenetur quae praesentium ratione iure at. Officia voluptatem quae ex maxime facere quos totam, alias veniam aut consequatur itaque accusamus labore, est nesciunt! Nulla esse tenetur atque maxime, totam incidunt placeat est earum, fugit dolorum accusamus obcaecati rerum aliquam commodi nisi laborum voluptas dicta qui quaerat doloribus illum magni debitis numquam?
            h2 Some title
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni cumque eius assumenda, praesentium, aliquid dolores iste voluptate aut, deleniti quod et vero dignissimos rem enim quisquam minima blanditiis. Necessitatibus, itaque! Repudiandae temporibus assumenda, vitae dignissimos laboriosam sint iure animi voluptas esse similique, repellat rem voluptatum? Ullam dolor sed labore ex?
