extends ../layout/main_layout

block head 
  - var title = 'Все страницы'
  - var bodyClass = ''
block content
  +header()
  .container(style="max-width: 100%")
    .row
      .col
        ul.allPage-list
          //- li.allPage-list__item
            a.allPage-list__link(href='./index.html') index
          li.allPage-list__item
            a.allPage-list__link(href='./main.html') main
          li.allPage-list__item
            a.allPage-list__link(href='./practices.html') practices
          li.allPage-list__item
            a.allPage-list__link(href='./article.html') article
          li.allPage-list__item
            a.allPage-list__link(href='./person.html') person
          li.allPage-list__item
            a.allPage-list__link(href='./contacts.html') contacts
          li.allPage-list__item
            a.allPage-list__link(href='./blog.html') blog
          li.allPage-list__item
            a.allPage-list__link(href='./blog-article.html') blog-article
          li.allPage-list__item
            a.allPage-list__link(href='./thanks.html') thanks

