extends ../layout/main_layout

block head 
  - var title = 'Главная'
  - var bodyClass = 'main-page'
block content
  +header()
  .main-sl-wrap
    .sl
      .sl__item(style="background-image: url(img/content/sl_1.jpg)")
        a.container(href="#")
          span.row
            span.col
              span.main-sl__title Послуга перша
      .sl__item(style="background-image: url(img/content/sl_2.jpg)")
        a.container(href="#")
          span.row
            span.col
              span.main-sl__title Послуга друга
      .sl__item(style="background-image: url(img/content/sl_3.jpg)")
        a.container(href="#")
          span.row
            span.col
              span.main-sl__title Послуга третя
