extends ../layout/thpage_layout

block head
  - var title = 'Дякуємо'
  // meta(http-equiv='refresh', content= '3; URL=index.html')
block content

  .container
    .row
      .col
        .tpage-block
          h1 Дякуємо за запитання!
          p Ми відповимо Вам якомога швидше.
