/* lead-up style */
//retina
// https://github.com/strues/retinajs
// для использования доставляем дата атрибут data-rjs="3", в бекграундах используем миксин
// +retina('../img/general/', 3, cover, center center no-repeat)
//@import "../libs/retina/_retina.sass"

//+triangle(right, 5px, 5px, #fff)

@import "smart-grid"
@import "variabls"
@import "mixin"
@import "font"
@import "sprite"
//@include retina-sprites($retina-groups) //раскоменить для ретины
@import "same_style"

// @import "pixel-glass"

/* lead-up style end */

/* blocks style */

/* head */
@import "../pug/modules/header/header"

/* foot */
@import "../pug/modules/foot/foot"

/* forms */
@import "../pug/modules/forms/forms"

/* menu */
@import "../pug/modules/menu/menu"

/* blocks style end*/


//.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-close, .fotorama__video-play
  background-image: url('../img/general/fotorama.png')
  background-repeat: no-repeat

//smartgrid settings
// .container
//   +container()
// .row
//   +row()
// .col
//   +col()
//   +cols(12)

/* page style */
.main-sl-wrap
.sl
.sl__item
  display: inline-flex !important
  align-items: center
  min-height: calc(100vh - 50px)
  padding-bottom: 50px
  padding-top: 50px
  background-color: grey
  background-repeat: no-repeat
  background-position: center 0
  background-size: cover
  .container,span
    display: block
  // +sm-block()
    min-height: calc(100vh - )
.sl-btn
  position: absolute
  top: 50%
  z-index: 10
  font-size: 0
  cursor: pointer
  transform: translateY(-50%)
  svg
    +size(40)


.sl-btn--prev
  left: 0

.sl-btn--next
  right: 0

.main-sl__title
  display: block
  text-align: center
  font-size: 4rem
  color: #fff
  font-weight: bold
  transition: all .25s linear
  &:hover
    color: $action2
  +sm-block()
    padding-left: 20px
    padding-right: 20px
    font-size: 3rem
    line-height: 1.2



.wrap
  // background: silver
  // .container
    // max-width: 1600px
    // background: green
  .row.tabs
    min-height: calc(100vh - 99px)
    padding-top: 50px
    padding-bottom: 50px
.practices
  .tabs__list
    height: 100%
    max-height: 1200px
    display: flex
    margin: 0 -5px
    // background: red
    +md-block()
      min-height: 300px
    +sm-block()
      // display: block
      flex-direction: column
      margin: 0
  .tabs__list-part
    width: 50%
    margin: 0 5px
    +sm-block()
      width: 100%
      margin: 0
    &:first-child
      +sm-block()
        height: 33.33%
        margin-bottom: 10px
    &:last-child
      +sm-block()
        height: 66.67%
      .tabs__list-item
        height: calc(50% - 5px)
        +sm-block()
          height: 50%
        &:first-child
          margin-bottom: 10px
  .tabs__list-item
    position: relative
    display: flex
    align-items: flex-end
    justify-content: flex-end
    height: 100%
    padding: 1.4rem
    cursor: pointer
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    &::before
      content: ''
      position: absolute
      bottom: 0
      right: 0
      width: 0
      height: 0
      background-image: linear-gradient(to right, $action, $action2)
      opacity: 0
      transition: width .25s linear, height .25s linear, opacity .25s linear
    &:hover
      &::before
        opacity: 0.8
        width: 100%
        height: 100%
      .title
        transform: translate(0.6rem, 0.6rem)
    .title
      z-index: 3
      color: #fff
      font-size: rem(18)
      font-weight: bold
      transition: transform .25s linear
  .tabs__list-item.active-tab
    &::before
      opacity: 0.8
      width: 100%
      height: 100%
    .title
      transform: translate(0.6rem, 0.6rem)


  .tabs__content
    height: 100%
    max-height: 1200px
    flex-direction: column
    +md-block()
      padding-top: 40px
    h2
      font-weight: bold
      color: $action
    p
      margin-bottom: 0
  .tabs__content-action
    margin-top: auto
    padding-top: 15px
    font-size: rem(16)
    font-weight: bold
    color: $action
    transition: color .25s linear
    &:hover
      color: $action2


.article
  padding: 50px 55px
  font-size: rem(18)
  line-height: 1.6
  p
    margin-top: 0
  a
    color: $action2
    &:hover
      color: $action
  +md-block()
    padding: 40px 0
.article__title
  position: relative
  font-weight: bold
  text-align: right
  // background: red
  span
    position: absolute
    top: 0
    left: 0
    transform-origin: 0 0
    transform: rotate(-90deg) translateX(-100%)
    // background: silver
  +md-block()
    margin-bottom: 30px
    text-align: left
    br
      display: none
    span
      position: static
.article__body
  h2,h3,h4
    margin: 1.2rem 0
    font-weight: bold




.person-page
  // .wrapper
  //   min-height: 100vh
  //   padding: 50px 0
  //   padding: 0
  //   // background: silver
  // // .header
  //   position: fixed
  //   top: 0
  //   left: 0
  //   right: 0
  //   // &::before
  //     opacity: .1
  //   +md-block()
  //     position: relative
  // // .header--fixed
  //    +md-block()
  //     position: fixed
  // // .foot
  //   position: fixed
  //   bottom: 0
  //   left: 0
  //   right: 0
  //   background: #fff
  //   +md-block()
  //     position: static


.person-block
  // background: red
  padding: 40px 0
.row-person
  +md-block()
    flex-direction: column-reverse

// .person-content
  +md-block()
    padding-bottom: 40px

.person-content__item
  // min-height: calc(100vh - 100px)
  // min-height: 100vh
  // background: green


.person-img
  // height: 100%
  // min-height: 100vh
  background-repeat: no-repeat
  background-position: center 0
  background-size: cover
  border-radius: 50%
  &::before
    content: ''
    display: block
    padding-top: 100%

  +md-block()
    margin-top: 30px

// .person-info,.person-control
//   padding-top: 90px
//   padding-bottom: 50px
//   +md-block()
//     padding-top: 40px
//     padding-bottom: 40px
.person-info
  +md-block()
    padding-top: 0
.person-info__name
  font-size: 3.5rem
  color: $action
  font-weight: bold
  +lg-block()
    font-size: 2.8rem

.person-info__position
  margin-top: 2rem
  font-size: 2rem
  font-weight: bold
  span
    display: block
    margin-top: 10px
    color: $action
    font-size: 1.5rem
    font-weight: normal

.person-info__desc
  margin-top: 3rem
  font-size: rem(18)
  b
    display: block
    font-size: rem(20)


.person-control
  // background: silver
  // height: 100%
  // height: 100vh
  // overflow: hidden
  padding-bottom: 90px
  +md-block()
    padding-bottom: 40px
    padding-left: 40px
    padding-right: 40px
  @media only screen and (min-width: 992px)
    .sl-btn
      top: auto
      svg
        +size(30)
    .sl-btn--prev
      top: 55px
      left: 50%
      transform: translateX(-50%) rotate(90deg)
    .sl-btn--next
      bottom: 50px
      right: auto
      left: 50%
      transform: translateX(-50%) rotate(90deg)
.person-control__item
  padding-top: 10px
  padding-bottom: 10px
  cursor: pointer
  text-align: center
  // background: red
  .person-img
    +size(100)
    min-height: 0
    margin-left: auto
    margin-right: auto
    border-radius: 50%
  .person-info__name
    margin-top: 10px
    font-size: 1rem

  .person-info__position
    margin-top: 5px
    font-size: 1rem
    span
      display: none


.contact-block
  min-height: calc(100vh - 99px)
  display: flex
  align-items: center
  padding: 40px 0
  // background: silver
  +md-block()
    min-height: 0
  h1
    margin-bottom: 40px
    font-weight: bold
    color: $action
  h2
    // margin-bottom: 30px
    // color: $action2
  form
    margin-top: 20px


.contact-option
  &:not(:last-child)
    margin-bottom: 40px
  a
    display: block
    margin: 15px 0
    font-weight: bold
    font-size: 1.4rem
    color: $action
    &:hover
      color: $action2


.sc
  display: flex
  margin-top: 15px
  // justify-content: center
  font-size: 0
  +sm-block()
  .svg
    +size(20)
    fill: $action
    transition: fill .25s linear
  a
    margin: 0
    margin-right: 20px
    &:hover
      .svg
        fill: $action2

.contant-form
  +sm-block()
    margin-top: 40px



.police-popup
  max-width: 980px
  line-height: 2

.police-popup__title
  margin: 20px 0
  font-size: rem(22)
  font-weight: bold


.tpage-block
  margin-top: 130px
  text-align: center
  h1
    color: $action
  p
    font-size: 1.3rem


.blog-articles
  padding: 40px 0
  .container
    max-width: 1200px

.blog-articles__item
  margin-bottom: 70px


.page-title
  padding: 20px 0 40px

.blog-article
  padding-bottom: 40px
  .container
    max-width: 1200px


/* page style end */

/*media style*/
@import "media"
