mixin hidden()
  .hidden
    - formTitle = 'Form Title'
    //+form_default('formClass', 'formId')
    .police-popup#police
      h2 УМОВИ ВИКОРИСТАННЯ
      .police-popup__block
        .police-popup__title  Веб-сайту savior.legal
        p
          | Доступ до цього веб-сайту і його використання обумовлюються наступними Умовами використання. Будь ласка, не використовуйте цей веб-сайт, якщо ви не погоджуєтеся із цими умовами. Цей веб-сайт був розроблений і адмініструється Адвокатським Бюро "Savior Legal". Ми залишаємо за собою право припинити роботу цього веб-сайту або вносити часткові чи повні зміни до нього. Будь ласка, зверніть увагу на те, що ми можемо вносити такі зміни на наш власний розсуд без попереднього повідомлення про це. Тому, ми просимо вас: наступного разу, коли ви відвідаєте наш веб-сайт, будь-ласка, прогляньте Умови використання веб-сайту ще раз і зверніть увагу на будь-які зміни або виправлення, які, можливо, були зроблені.
      .police-popup__block
        .police-popup__title Цілі Веб-сайту і надання послуг Адвокатським Бюро "Savior Legal"
        p
          | Веб-сайт має виключно інформаційне значення. На цьому веб-сайті Адвокатське Бюро "Savior Legal" розміщує/публікує Матеріали. Під Матеріалами мається на увазі будь-які тексти, авторські статті, графічні зображення, відео та/або аудіо матеріали. Матеріали включають в себе об'єкти права інтелектуальної власності. Матеріали веб-сайту не можуть розглядатися в якості юридичних, податкових, стратегічних, інвестиційних, фінансових та/або інших консультацій. Адвокатське Бюро "Savior Legal" та/або його афілійовані особи, в тому числі особи, що беруть участь у підготовці та випуску цього веб-сайту, не несуть відповідальності за можливі наслідки використання інформації на веб-сайті. Відвідувачам веб-сайту рекомендується отримати окремі консультації в разі необхідності ухвалення рішень, що передбачають юридичні наслідки.
        p
          | Веб-сайт і розміщені на ньому Матеріали не є пропозицією укласти договір (офертою) надання юридичних послуг або будь-який інший договір. Послуги надаються Адвокатським Бюро "Savior Legal" виключно на підставі договору.
        p
          | Адвокатське Бюро "Savior Legal" не бере на себе зобов’язань з оновлення будь-яких Матеріалів, щоб вони відбивали події або обставини, які виникнуть після розміщення Матеріалів на веб-сайті.
        p
          | Інформація на веб-сайті може змінюватися, уточнюватися, переглядатися та доповнюватися, без обов’язку Адвокатського Бюро "Savior Legal" повідомляти користувачів веб-сайту про такі зміни.
      .police-popup__block
        .police-popup__title Використання Матеріалів
        p
          | Уся інформація, документи й ілюстрації, що подаються на цьому веб-сайті є єдиною власністю Адвокатського Бюро "Savior Legal" або використовуються ним на законних підставах. Будь-який дозвіл на використання вищезазначеного надається при умові, що відповідна примітка про авторське право зазначена на усіх копіях, і що така інформація буде використовуватися виключно для особистих цілей і не буде предметом комерції. При цьому, інформація не може бути будь-яким чином змінена.
        p
          | Всі Матеріали веб-сайту (авторська стаття, зображення, тексти, чи ін.) дозволяється використовувати не більше 500 знаків для створення  одного інформаційного Матеріалу за умови обов’язкового посилання на Адвокатське Бюро "Savior Legal" та цей веб-сайт, як джерело інформації, а для Інтернет-ресурсів – ще й прямого гіперпосилання, не закритого від індексації пошуковими системами. Використання зазначених типів Матеріалів в розмірі оригіналу (у повному обсязі) забороняється.
        p
          | Посилання, гіперпосилання на Адвокатське Бюро "Savior Legal" повинно міститися виключно в першому чи в другому абзаці тексту. Посилання іншими підприємствами, що надають юридичні послуги, адвокатами, юристами на Адвокатське Бюро "Savior Legal" під текстом запозичених у Адвокатського Бюро "Savior Legal" Матеріалів розглядається як порушення даних Умов використання веб-сайту та норм чинного законодавства України і означає, що твір використовується без дозволу Адвокатського Бюро "Savior Legal".
      .police-popup__block
        .police-popup__title Інтелектуальна власність 
        p
          | Всі знаки для товарів і послуг, торгові марки, комерційні найменування й об’єкти авторського права на цьому веб-сайті є власністю Адвокатського Бюро "Savior Legal", якщо не передбачене інше чи іншим чином це не визначено як право третьої особи. Будь-яке неправомірне використання інтелектуальної власності, що категорично заборонене, вважається порушенням авторського права, прав на знаки для товарів і послуг, положень цивільного кодексу України та іншого законодавства про інтелектуальну власність в Україні.
        p
          | Крім випадків, коли інше прямо вказано у тексті, авторське право щодо Матеріалів, розміщених на цьому веб-сайті, належить Адвокатському Бюро "Savior Legal" або використовуються ним на законних підставах. Матеріали веб-сайту можуть бути використані для подальшого поширення виключно за попередньою згодою Адвокатського Бюро "Savior Legal" із обов’язковим посиланням на джерело (на веб-сайт). Всі зміни та правки до такої інформації можуть вноситися тільки за попередньою згодою Адвокатського Бюро "Savior Legal".
      .police-popup__block
        .police-popup__title Обмежена відповідальність
        p
          | На основі внутрішніх і зовнішніх джерел та з допомогою власних професійних ресурсів, Адвокатське Бюро "Savior Legal" підготувала детальну інформацію, що знаходиться на цьому веб-сайті. Ми маємо намір постійно розширювати й модернізувати цей діапазон даних. Інформація на цьому веб-сайті призначена виключно для презентації Адвокатського Бюро "Savior Legal", і його послуг. Однак, при цьому, не дається ніяких прямих чи непрямих підтверджень чи гарантій щодо повноти чи достовірності інформації, що подається на цьому веб-сайті. Зокрема, ми б хотіли зазначити, що вам слід пам’ятати, що ця інформація може бути застарілою. Тому, ми рекомендуємо вам перед тим як скористатися будь-якими даними цього веб-сайту, перевірити їх. Поради, що даються на цьому веб-сайті не звільняють вас від необхідності проведення ваших власних перевірок наших найостанніших порад. Якщо ви потребуєте будь-яких порад чи інструкцій стосовно наших послуг, будь ласка, зв’язуйтесь безпосередньо з нами. Користувачі цього веб-сайту повідомляють, що вони погоджуються використовувати цей веб-сайт і Матеріали, які містяться на ньому на власний ризик. Ні Адвокатське Бюро "Savior Legal", ні треті особи, які залучені до розробки цього веб-сайту і підготовки Матеріалів для нього не несуть відповідальності за шкоду чи збитки, пов’язані з доступом або неможливістю доступу, з використанням або неможливістю використання цього веб-сайту, а також за збитки, пов’язані з тим, що ви покладалися на інформацію, що була розміщена на цьому веб-сайті.
      .police-popup__block
        .police-popup__title Веб-сайти третіх сторін/посилання на інші веб-сайти
        p
          | Цей веб-сайт містить посилання на веб-сайти третіх сторін. Надаючи такі посилання, Адвокатське Бюро "Savior Legal" не відповідає за їх зміст, як не відповідає і за саму наявність таких веб-сайтів чи будь-які збитки, пов’язані з їх використанням. Посилання на інші веб-сайти призначені виключно для зручності користувачів. Користувачі відвідують такі веб-сайти на власний ризик.
      .police-popup__block
        .police-popup__title Інформація, що надається безпосередньо вами
        p
          | Користувач цього веб-сайту повністю відповідає за зміст і достовірність інформації, яку він відправляє Адвокатському Бюро "Savior Legal", а також за дотримання прав будь-якої третьої сторони, що може бути залученою до такої інформації. Користувач дає свою згоду на зберігання і використання такої інформації Адвокатським Бюро "Savior Legal" для проведення статистичного аналізу чи для будь-якої іншої зазначеної комерційної мети, окрім випадків, коли ця інформація є особистою за своїм змістом і не входить до основних даних чи робочих характеристик. Зокрема, Адвокатське Бюро "Savior Legal" має право на використання таких повідомлень, включаючи ідеї, винаходи, проекти, методи й експертизи, що використовуються для будь-якої мети, наприклад: розвитку, виробництва та/чи збуту продукції чи послуг, а також відтворення й розповсюдження такої інформацію серед третіх сторін без будь-яких обмежень.
      .police-popup__block
        .police-popup__title Територія використання веб-сайту
        p
          | Цей веб-сайт перевіряється, використовується й обновляється Адвокатським Бюро "Savior Legal" в Україні. Він спеціально призначений для використання в Україні або будь-якій іншій країні. Адвокатське Бюро "Savior Legal" не дає ніякої гарантії, що інформація, представлена на цьому веб-сайті є достовірною поза межами України, і що наявні послуги будуть мати ті ж самі характеристики, об’єми й умови надання. Якщо ви заходите на цей веб-сайт або якщо ви завантажуєте інформацію, то, будь ласка, зверніть увагу на те, що ви несете персональну відповідальність за дотримання місцевого законодавства, що застосовується у вашому регіоні.
      .police-popup__block
        .police-popup__title Відповідальність
        p
          | Забороняється будь-яке комерційне використання Матеріалів, відтворення текстів або їх фрагментів з метою комерційної реалізації права доступу до зазначених матеріалів, в тому числі використання текстів чи їх фрагментів в інтерактивних базах даних без письмового дозволу Адвокатського Бюро "Savior Legal".
        p
          | Порушення будь-якого положення даних Умов використання веб-сайту є порушенням виключних майнових і немайнових авторських прав Адвокатського Бюро "Savior Legal" та відповідно до норм законодавства може спричинити відповідальність, передбачену цивільним, адміністративним і кримінальним законодавством.
        p
          | Адвокатське Бюро "Savior Legal" залишає за собою право заносити порушників авторських прав до спеціального списку, а також доводити його до відома громадськості.
        p
          | Відповідно до норм чинного законодавства України Адвокатське Бюро "Savior Legal" у разі порушення своїх прав третіми особами змушене буде захищати свої права шляхом подачі скарг до правоохоронних органів та позовних заяв до судових органів.
      //- .police-popup__block
        .police-popup__title Дата публікації: 03.10.2018 р.
        p
          b Дата останніх змін: 03.10.2018 р.
