mixin foot()
  footer.foot
    .container
      .row
        .col-6.col-lg-3
          .copyright © Savior Legal 2019
        .col-12.col-lg-3.col-md-6
          a.email(href="mailto:write-to@savior.legal") write-to@savior.legal
        .col-12.col-lg-3.col-md-6
          a.phone(href="tel:+380999870227") +38(098) 870-22-73
        .col-6.col-lg-3
          .police
            a(href="#police", data-fancybox) Умови використання
