.main-page
  .foot
    position: fixed
    left: 0
    bottom: 0
    right: 0
    color: #fff
  // .copyright,a
    &:hover
      color: $action2
.foot
  padding: 15px 0
  line-height: 1.1
  font-size: rem(18)
  text-align: center
  // background: silver
  .container
    max-width: 100%

  .copyright,a
    transition: color .25s linear
    &:hover
      color: $action
  [class*="col-"]
    order: 2
  .col-md-6
    +md-block()
      margin-bottom: 15px
  .col-6
    +md-block()
      order: 3

.copyright,.police
  +smx-block()
    font-size: rem(14)
    font-weight: bold

















































































